body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222; }

.clock-size {
  width: 300px;
  height: 300px;
  border-radius: 50%; }

#clock {
  background: url("./clock.png") no-repeat center;
  background-size: contain;
  position: relative; }

.hand {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 1000ms linear;
  transition: 1000ms linear; }

#sec-hand {
  background: url("./sec-hand.png") no-repeat center; }

#min-hand {
  background: url("./min-hand.png") no-repeat center; }

#hour-hand {
  background: url("./hour-hand.png") no-repeat center; }
