/* ===== CONFIG ===== */
$clockSize: 300px;
$indexIndent: 20px;

$hourHandWidth: 7px;
$hourHandLength: 90px;
$minuteHandWidth: 5px;
$minuteHandLength: 130px;
$secondHandWidth: 1px;
$secondHandLength: 140px;

$buttonDefaultWidth: 200px;
$buttonDefaultHeight: 30px;

$borderRadius: 5px;

$transition: 300ms;
$buttonTransition: 100ms;

/* Colors */
$primary: rgba(#abc, 2);
$accent: #689f38;
$warn: #b71c1c;

$textOnAccent: white;
$textOnWarn: white;


* {
	box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: #bbb;
}

#clock {
	position: relative;
	width: $clockSize;
	height: $clockSize;

	background-color: white;
	border: 1px solid black;
}

.clock-face {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	ul.indices {
		position: relative;
		width: 100%;
		margin: -18px 0 0;
		padding: $indexIndent;
		
		li {
			position: absolute;
			width: calc(#{$clockSize} - 2 * #{$indexIndent});
			color: #ccc;
			
			&:nth-child(5n) {
				color: black;
			}
			
			@for $index from 1 through 60 { // 60 is amount of indices
				&:nth-child(#{$index}) {
					transform: rotate(calc(#{$index} * 6deg))
				}
			}
		}
	}
}

.circle{
	width: $clockSize;
	height: $clockSize;
	
	border-radius: 50%;
}

.hand-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	
	display: flex;
	justify-content: center;
	align-items: center;

	transition: $transition;
}

#hour-hand {
	width: $hourHandWidth;
	height: $hourHandLength;
	background-color: black;
	transform: translateY(calc((#{$hourHandLength} - 5px) / -2));
	border-radius: $hourHandWidth;
}

#minute-hand {
	width: $minuteHandWidth;
	height: $minuteHandLength;
	background-color: black;
	transform: translateY(calc((#{$minuteHandLength} - 5px) / -2));
	border-radius: $minuteHandWidth;
}

#second-hand {
	width: $secondHandWidth;
	height: $secondHandLength;
	background-color: red;
	transform: translateY(calc((#{$secondHandLength} - 5px) / -2));
	border-radius: $secondHandWidth;
}

.submit-section {
	margin-top: 20px;

	input {
		width: $buttonDefaultWidth;
		height: $buttonDefaultHeight;
		margin: 5px auto;
		padding-left: 30px;
		text-align: center;
		outline: none;
		border: 1px solid black;
		border-radius: $borderRadius;
	}

	button {
		width: $buttonDefaultWidth;
		height: $buttonDefaultHeight;
		margin: 5px auto;

		background-color: transparent;
		outline: none;
		border: none;
		border-radius: $borderRadius;
		cursor: pointer;

		box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.87);
		transition: $buttonTransition;

		&:hover {
			box-shadow: 0 5px 13px -5px rgba(0, 0, 0, 0.87);
		}
		&:active {
			box-shadow: 0 5px 7px -5px rgba(0, 0, 0, 0.87);
		}
	}

	#submit {
		background-color: $accent;
		color: $textOnAccent;
	}

	#reset {
		background-color: $warn;
		color: $textOnWarn;
	}
}
