.fx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fx-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fx-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fx-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fx-align-evenly {
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

.fx-align-spread {
  -webkit-box-align: spread;
      -ms-flex-align: spread;
          align-items: spread;
}

.fx-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fx-justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fx-justify-spread {
  -webkit-box-pack: spread;
      -ms-flex-pack: spread;
          justify-content: spread;
}

.fx-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fx-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fx-no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* ===== CONFIG ===== */
/* Colors */
/* ===== CONFIG ===== */
/* Colors */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  text-align: center;
}

.submit-section {
  margin-top: 20px;
}

.submit-section input {
  width: 200px;
  height: 40px;
  margin: 5px auto;
  padding-left: 30px;
  font-size: 1.8em;
  text-align: center;
  outline: none;
  border-radius: 5px;
}

.controls {
  margin-top: 50px;
}

.controls button {
  width: 200px;
  height: 40px;
  margin: 24px auto;
  font-size: 1em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls button.submit {
  color: #5fbd21;
}

.controls button.reset {
  color: #359dff;
}

/* ===== CONFIG ===== */
/* Colors */
#clock {
  position: relative;
  width: 300px;
  height: 300px;
}

.clock-face {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock-face ul.indices {
  position: relative;
  width: calc(300px - 4 * 12px);
  margin: -22px 0 0;
  padding-left: 12px;
}

.clock-face ul.indices li {
  position: absolute;
  width: calc((300px - 6 * 12px));
  color: #ddd;
}

.clock-face ul.indices li:nth-child(5n) {
  color: black;
}

.clock-face ul.indices li:nth-child(1) {
  -webkit-transform: rotate(calc(1 * 6deg));
          transform: rotate(calc(1 * 6deg));
}

.clock-face ul.indices li:nth-child(2) {
  -webkit-transform: rotate(calc(2 * 6deg));
          transform: rotate(calc(2 * 6deg));
}

.clock-face ul.indices li:nth-child(3) {
  -webkit-transform: rotate(calc(3 * 6deg));
          transform: rotate(calc(3 * 6deg));
}

.clock-face ul.indices li:nth-child(4) {
  -webkit-transform: rotate(calc(4 * 6deg));
          transform: rotate(calc(4 * 6deg));
}

.clock-face ul.indices li:nth-child(5) {
  -webkit-transform: rotate(calc(5 * 6deg));
          transform: rotate(calc(5 * 6deg));
}

.clock-face ul.indices li:nth-child(6) {
  -webkit-transform: rotate(calc(6 * 6deg));
          transform: rotate(calc(6 * 6deg));
}

.clock-face ul.indices li:nth-child(7) {
  -webkit-transform: rotate(calc(7 * 6deg));
          transform: rotate(calc(7 * 6deg));
}

.clock-face ul.indices li:nth-child(8) {
  -webkit-transform: rotate(calc(8 * 6deg));
          transform: rotate(calc(8 * 6deg));
}

.clock-face ul.indices li:nth-child(9) {
  -webkit-transform: rotate(calc(9 * 6deg));
          transform: rotate(calc(9 * 6deg));
}

.clock-face ul.indices li:nth-child(10) {
  -webkit-transform: rotate(calc(10 * 6deg));
          transform: rotate(calc(10 * 6deg));
}

.clock-face ul.indices li:nth-child(11) {
  -webkit-transform: rotate(calc(11 * 6deg));
          transform: rotate(calc(11 * 6deg));
}

.clock-face ul.indices li:nth-child(12) {
  -webkit-transform: rotate(calc(12 * 6deg));
          transform: rotate(calc(12 * 6deg));
}

.clock-face ul.indices li:nth-child(13) {
  -webkit-transform: rotate(calc(13 * 6deg));
          transform: rotate(calc(13 * 6deg));
}

.clock-face ul.indices li:nth-child(14) {
  -webkit-transform: rotate(calc(14 * 6deg));
          transform: rotate(calc(14 * 6deg));
}

.clock-face ul.indices li:nth-child(15) {
  -webkit-transform: rotate(calc(15 * 6deg));
          transform: rotate(calc(15 * 6deg));
}

.clock-face ul.indices li:nth-child(16) {
  -webkit-transform: rotate(calc(16 * 6deg));
          transform: rotate(calc(16 * 6deg));
}

.clock-face ul.indices li:nth-child(17) {
  -webkit-transform: rotate(calc(17 * 6deg));
          transform: rotate(calc(17 * 6deg));
}

.clock-face ul.indices li:nth-child(18) {
  -webkit-transform: rotate(calc(18 * 6deg));
          transform: rotate(calc(18 * 6deg));
}

.clock-face ul.indices li:nth-child(19) {
  -webkit-transform: rotate(calc(19 * 6deg));
          transform: rotate(calc(19 * 6deg));
}

.clock-face ul.indices li:nth-child(20) {
  -webkit-transform: rotate(calc(20 * 6deg));
          transform: rotate(calc(20 * 6deg));
}

.clock-face ul.indices li:nth-child(21) {
  -webkit-transform: rotate(calc(21 * 6deg));
          transform: rotate(calc(21 * 6deg));
}

.clock-face ul.indices li:nth-child(22) {
  -webkit-transform: rotate(calc(22 * 6deg));
          transform: rotate(calc(22 * 6deg));
}

.clock-face ul.indices li:nth-child(23) {
  -webkit-transform: rotate(calc(23 * 6deg));
          transform: rotate(calc(23 * 6deg));
}

.clock-face ul.indices li:nth-child(24) {
  -webkit-transform: rotate(calc(24 * 6deg));
          transform: rotate(calc(24 * 6deg));
}

.clock-face ul.indices li:nth-child(25) {
  -webkit-transform: rotate(calc(25 * 6deg));
          transform: rotate(calc(25 * 6deg));
}

.clock-face ul.indices li:nth-child(26) {
  -webkit-transform: rotate(calc(26 * 6deg));
          transform: rotate(calc(26 * 6deg));
}

.clock-face ul.indices li:nth-child(27) {
  -webkit-transform: rotate(calc(27 * 6deg));
          transform: rotate(calc(27 * 6deg));
}

.clock-face ul.indices li:nth-child(28) {
  -webkit-transform: rotate(calc(28 * 6deg));
          transform: rotate(calc(28 * 6deg));
}

.clock-face ul.indices li:nth-child(29) {
  -webkit-transform: rotate(calc(29 * 6deg));
          transform: rotate(calc(29 * 6deg));
}

.clock-face ul.indices li:nth-child(30) {
  -webkit-transform: rotate(calc(30 * 6deg));
          transform: rotate(calc(30 * 6deg));
}

.clock-face ul.indices li:nth-child(31) {
  -webkit-transform: rotate(calc(31 * 6deg));
          transform: rotate(calc(31 * 6deg));
}

.clock-face ul.indices li:nth-child(32) {
  -webkit-transform: rotate(calc(32 * 6deg));
          transform: rotate(calc(32 * 6deg));
}

.clock-face ul.indices li:nth-child(33) {
  -webkit-transform: rotate(calc(33 * 6deg));
          transform: rotate(calc(33 * 6deg));
}

.clock-face ul.indices li:nth-child(34) {
  -webkit-transform: rotate(calc(34 * 6deg));
          transform: rotate(calc(34 * 6deg));
}

.clock-face ul.indices li:nth-child(35) {
  -webkit-transform: rotate(calc(35 * 6deg));
          transform: rotate(calc(35 * 6deg));
}

.clock-face ul.indices li:nth-child(36) {
  -webkit-transform: rotate(calc(36 * 6deg));
          transform: rotate(calc(36 * 6deg));
}

.clock-face ul.indices li:nth-child(37) {
  -webkit-transform: rotate(calc(37 * 6deg));
          transform: rotate(calc(37 * 6deg));
}

.clock-face ul.indices li:nth-child(38) {
  -webkit-transform: rotate(calc(38 * 6deg));
          transform: rotate(calc(38 * 6deg));
}

.clock-face ul.indices li:nth-child(39) {
  -webkit-transform: rotate(calc(39 * 6deg));
          transform: rotate(calc(39 * 6deg));
}

.clock-face ul.indices li:nth-child(40) {
  -webkit-transform: rotate(calc(40 * 6deg));
          transform: rotate(calc(40 * 6deg));
}

.clock-face ul.indices li:nth-child(41) {
  -webkit-transform: rotate(calc(41 * 6deg));
          transform: rotate(calc(41 * 6deg));
}

.clock-face ul.indices li:nth-child(42) {
  -webkit-transform: rotate(calc(42 * 6deg));
          transform: rotate(calc(42 * 6deg));
}

.clock-face ul.indices li:nth-child(43) {
  -webkit-transform: rotate(calc(43 * 6deg));
          transform: rotate(calc(43 * 6deg));
}

.clock-face ul.indices li:nth-child(44) {
  -webkit-transform: rotate(calc(44 * 6deg));
          transform: rotate(calc(44 * 6deg));
}

.clock-face ul.indices li:nth-child(45) {
  -webkit-transform: rotate(calc(45 * 6deg));
          transform: rotate(calc(45 * 6deg));
}

.clock-face ul.indices li:nth-child(46) {
  -webkit-transform: rotate(calc(46 * 6deg));
          transform: rotate(calc(46 * 6deg));
}

.clock-face ul.indices li:nth-child(47) {
  -webkit-transform: rotate(calc(47 * 6deg));
          transform: rotate(calc(47 * 6deg));
}

.clock-face ul.indices li:nth-child(48) {
  -webkit-transform: rotate(calc(48 * 6deg));
          transform: rotate(calc(48 * 6deg));
}

.clock-face ul.indices li:nth-child(49) {
  -webkit-transform: rotate(calc(49 * 6deg));
          transform: rotate(calc(49 * 6deg));
}

.clock-face ul.indices li:nth-child(50) {
  -webkit-transform: rotate(calc(50 * 6deg));
          transform: rotate(calc(50 * 6deg));
}

.clock-face ul.indices li:nth-child(51) {
  -webkit-transform: rotate(calc(51 * 6deg));
          transform: rotate(calc(51 * 6deg));
}

.clock-face ul.indices li:nth-child(52) {
  -webkit-transform: rotate(calc(52 * 6deg));
          transform: rotate(calc(52 * 6deg));
}

.clock-face ul.indices li:nth-child(53) {
  -webkit-transform: rotate(calc(53 * 6deg));
          transform: rotate(calc(53 * 6deg));
}

.clock-face ul.indices li:nth-child(54) {
  -webkit-transform: rotate(calc(54 * 6deg));
          transform: rotate(calc(54 * 6deg));
}

.clock-face ul.indices li:nth-child(55) {
  -webkit-transform: rotate(calc(55 * 6deg));
          transform: rotate(calc(55 * 6deg));
}

.clock-face ul.indices li:nth-child(56) {
  -webkit-transform: rotate(calc(56 * 6deg));
          transform: rotate(calc(56 * 6deg));
}

.clock-face ul.indices li:nth-child(57) {
  -webkit-transform: rotate(calc(57 * 6deg));
          transform: rotate(calc(57 * 6deg));
}

.clock-face ul.indices li:nth-child(58) {
  -webkit-transform: rotate(calc(58 * 6deg));
          transform: rotate(calc(58 * 6deg));
}

.clock-face ul.indices li:nth-child(59) {
  -webkit-transform: rotate(calc(59 * 6deg));
          transform: rotate(calc(59 * 6deg));
}

.clock-face ul.indices li:nth-child(60) {
  -webkit-transform: rotate(calc(60 * 6deg));
          transform: rotate(calc(60 * 6deg));
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.hand-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#hour-hand {
  width: 7px;
  height: 90px;
  background-color: black;
  -webkit-transform: translateY(calc((90px - 5px) / -2));
          transform: translateY(calc((90px - 5px) / -2));
  border-radius: 7px;
}

#minute-hand {
  width: 5px;
  height: 130px;
  background-color: black;
  -webkit-transform: translateY(calc((130px - 5px) / -2));
          transform: translateY(calc((130px - 5px) / -2));
  border-radius: 5px;
}

#second-hand {
  width: 1px;
  height: 140px;
  background-color: red;
  -webkit-transform: translateY(calc((140px - 5px) / -2));
          transform: translateY(calc((140px - 5px) / -2));
  border-radius: 1px;
}

/* ===== CONFIG ===== */
/* Colors */
.toast {
  position: absolute;
  bottom: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toast:after {
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.toast.visible {
  visibility: visible;
}

.toast.invisible {
  visibility: hidden;
}

.toast.success {
  border-color: #5fbd21;
  color: #5fbd21;
}

.toast.almost {
  border-color: #d6960c;
  color: #d6960c;
}

.toast.failure {
  border-color: #d6960c;
  color: #d6960c;
}

.toast.error {
  border-color: #d6960c;
  color: #d6960c;
}

.toast .message {
  margin: 8px;
  margin-left: 20px;
  font-size: 14px;
  color: inherit;
}

.toast button {
  margin: 8px;
  width: auto;
  height: auto;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.toast button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/*# sourceMappingURL=style.css.map */